<ul>
  <li><a class="btn" routerLinkActive="active" routerLink="/login">Login</a></li>
  <li><a class="btn" routerLinkActive="active" routerLink="/store">Store</a></li>
  <li><a class="btn" routerLinkActive="active" routerLink="/cart">Cart</a></li>
  <li><a class="btn" routerLinkActive="active" routerLink="/checkout">Checkout</a></li>
  <li><a class="btn" routerLinkActive="active" routerLink="/register">Register</a></li>
  <li><a class="btn" routerLinkActive="active" routerLink="/logout">Logout</a></li>
</ul>
