<h4 *ngIf="!username" style="color:rgba(124, 132, 156, 0.568)">You need to login to view this page!</h4>
<div *ngIf="username">

  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="card px-5 py-5" id="userinfocard">
          <div class="form-data">
            <div>
              <span>Logged in user: {{username}}</span>
            </div>
            <div>
              <span>E-mail address: {{eMail}}</span>
            </div>
            <div class="mb-3" *ngIf="!optionsVisibility"> <button class="btn btn-dark w-100" (click)="updateOptionsVisibility()">Edit user details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5" *ngIf="optionsVisibility">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="card px-5 py-5" id="changeemailcard">
          <div class="form-data">
            <div class="forms-inputs mb-4"> <span>New e-mail address:</span> <input autocomplete="off" type="text" [(ngModel)]="newEmail">
            </div>
            <div class="mb-3"> <button class="btn btn-dark w-100" (click)="updateEmail()">Update e-mail</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5" *ngIf="optionsVisibility">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="card px-5 py-5" id="changepwdcard">
          <div class="form-data">
            <div class="forms-inputs mb-4"> <span>New Password:</span> <input autocomplete="off" type="text" [(ngModel)]="newPassword">
            </div>
            <div class="forms-inputs mb-4"> <span>Confirm Password:</span> <input autocomplete="off" type="password" [(ngModel)]="confirmPassword">
            </div>
            <label *ngIf="unmatchedPassword" style="color: crimson;">Passwords do not match.</label>
            <div class="mb-3"> <button class="btn btn-dark w-100" (click)="updatePwd()">Update password</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form">
    <h2 class="title">View Order history</h2>
    <button class="btn btn-primary" (click)="viewHistory()">View Order history</button>
  </div>

  <div class="row" *ngIf="orderHistory.length>0">
    <table class="table table-hover table-light" *ngFor="let order of orderHistory">
        <thead>
          <tr>
            <th>Order Id: {{order.orderId}}</th>
            <th>Order Date: {{order.orderDate}}</th>
          </tr>
        </thead>
        <tbody >
          <tr>
            <td>
              <img src="{{order.game.thumb}}" class="img-fluid rounded thumbnail-image">
            </td>
            <td>
              <span><b>{{order.game.name}}</b></span>
              <br>
              <span><b>Game ID:</b> {{order.game.gameID}}</span>
              <br>
              <span><b>Release Date:</b> {{order.game.releaseDate|date:'yyyy-MM-dd'}}</span>
              <br>
              <span><b>Retail Price:</b> {{order.game.retailPrice | currency:'EUR'}}</span>
              <br>
              <span><b>Quantity:</b> {{order.quantity}}</span>
            </td>
          </tr>
        </tbody>
    </table>
    <br>
  </div>

</div>
