
body{
  --text-color: rgba(0, 0, 0, 0.644);
  background-color: rgb(221, 223, 250);
  
 
}

body.dark-theme{
  --text-color: rgb(177, 178, 192);
  background-color: rgba(0, 0, 0, 0.856); 

}


.btnmode,
.btnmode:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #4097d1d3 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #0d6d70;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



.btnmode:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}


@media (min-width: 768px) {
  .btnmode,
  .btnmode:after {
    width: 326px;
    height: 40px;
    line-height: 60px;
  }
}