/* You can add global styles to this file, and also import other style files */
body{
  --text-color: rgba(0, 0, 0, 0.644);
  background-color: rgb(221, 223, 250);
  --btn-bg-color: rgb(78, 78, 116);
 
}

body.dark-theme{
  --text-color: rgb(177, 178, 192);
  background-color: rgba(0, 0, 0, 0.856); 
  --btn-bg-color: rgba(106, 106, 109, 0.74);
}

button{
  padding: 10px;
  border: none;
  border-radius:2px;
  background-color: var(--btn-bg-color);
  
}
